<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jklearn.blog.mapper.SortsMapper">
  <resultMap id="BaseResultMap" type="com.jklearn.blog.domain.Sorts">
    <!--@mbg.generated generated on Mon Aug 01 16:15:22 CST 2022.-->
    <!--@Table sorts-->
    <id column="sort_id" jdbcType="CHAR" property="sortId" />
    <result column="sort_name" jdbcType="VARCHAR" property="sortName" />
    <result column="sort_description" jdbcType="LONGVARCHAR" property="sortDescription" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Aug 01 16:15:22 CST 2022.-->
    sort_id, sort_name, sort_description
  </sql>
</mapper>